body {
  background: #eaeef6;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
}

.navbar__menu {
  position: relative;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar__link span {
  position: absolute;
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #406ff3;
  background: #fff;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17px;
  white-space: nowrap;
}

.navbar__link:hover {
  color: #fff;
  background: #406ff3;
  border-radius: 17px;
}

.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
}